<!DOCTYPE html>
<html lang="pl">

<head>
    <title>FlashBox</title>
    <meta charset="utf-8">
    <link href="static/styles/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="images/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Cambay&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>

<body>
    <div class="nav-wrapper">
        <ul class="nav-mobile">
            <li><a href="/">Home</a></li>
            <li><a href="/registration">Rejestracja</a></li>
            {% if isLoggedIn %}
            <li><a href="/notes">Notatki</a></li>
            <li><a href="/new_note">Nowa Notatka</a></li>
            <li><a href="/logout">Wyloguj</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </div>




    <div class="total_content_container">

        <div class="step_ahead">
            <div>
              THE FUTURE DEPENDS 
                ON WHAT YOU DO
                <h1> TODAY</h1>
                <a class="bt_join_now" href="/registration">
                    JOIN NOW
                </a>
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <footer>
        <p class="footer-inline left">&copy; 2020 Mateusz Milewski</p>
    </footer>
</body>

</html>