<!DOCTYPE html>
<html lang="pl">

<head>
    <title>FlashBox</title>
    <meta charset="utf-8">
    <link href="../static/styles/style.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/notes.css" rel="stylesheet" type="text/css">
    <link href="../static/styles/secret.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="images/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Cambay&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="../static/scripts/secret_note_script.js"></script>
</head>

<body>
    <div class="nav-wrapper">
        <ul class="nav-mobile">
            <li><a href="/">Home</a></li>
            <li><a href="/registration">Rejestracja</a></li>
            {% if isLoggedIn %}
            <li><a href="/notes">Notatki</a></li>
            <li><a href="/new_note">Nowa Notatka</a></li>
            <li><a href="/logout">Wyloguj</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="total_form_container">
        <div id ="content-box" class="ship-list-box">
           
            
             <form id="secret-note-form" class="registration-form">
                    <div class="form-title">
                        {{note_title}}
                    </div>
                    
                    <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                    <input id="note_title" name="note_title" type="hidden" value="{{note_title}}">
                    
                    <div>
                        <input id="note_password" type="text" name="note_password" placeholder="Hasło do notatki" />
                    </div>

                    <div class="form-row">
                        <input id="button-reg-form" type="submit" value="Odszyfruj"
                            class="submit-button-not-available" />
                    </div>

                </form>
            
            
        </div>
        
    </div>
    <footer>
        <p class="footer-inline left">&copy; 2020 Mateusz Milewski</p>
    </footer>

</body>

</html>